<div>
  <!-- <p align="center">
         	{% if page.copyright=='flyever' %}
             <img src="http://www.ityouknow.com/assets/images/flyever.jpg" >
            {% elsif page.copyright=='itmind' %}
             <img src="http://www.ityouknow.com/assets/images/itmind.jpg" >
            {% else %}
             <img src="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" >
            {% endif %}
         <br/>
          扫码关注有惊喜
   </p>-->
    <p align="center">
        本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
        <img src="https://ldmyown.github.io/assets/images/6.66.png" />
        <br/>微信扫一扫
    </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="https://ldmyown.github.io">TelAngel</a>）</strong>
   </p>
</div>